@import "add_claim";


.claim-view-layout{
    background-color: $alabaster;
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px $bone;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

        th{
            color: $purple;
            font-weight: 600;
            font-size: 1.2rem;
            text-align: left;
        }

        .table-actions{
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .delete-button{
                color: lighten($red, 20%);
            }
        }

        a {
            color: $purple;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        tbody tr{ 
            transition: background-color 0.2s ease;
            &:hover{
                background-color: $bone;  
            }
        }
}