.add-admin-page {
    background-color: $alabaster;
    max-width: 500px;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 2px 2px 2px  $bone;
    padding: 3rem;
    display: flex; 
    flex-direction: column;
    gap: 1rem;

    .notification{
        font-style: italic;

    }

    form{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    
    .label-fields{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 0.5rem;
        

        input{
            height: 1.6rem;
            
        }
    }

    .info-fields{
        display: flex;
        justify-content: flex-start;
        gap: 0.5rem;

        select{
            width: 70%;
            height: 1.6rem;
        }

    }
    .button-fields{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;

        button{
            border: none;

            &:hover{
                background-color: lighten($green, 5%);
                color: $alabaster;
            }
        }

        button, a{
            background-color: $bone;
            border-radius: 3px;
            padding: 0.5rem 1rem;
            display: flex;
            align-items: center;
            font-weight: 600;
            text-align: center;
            text-decoration: none;
            color: $purple;
            width: 100px;
            cursor: pointer;

            gap: 0.5rem;
        }

        a:hover{
            background-color: lighten($red, 5%);
            color: $alabaster;
        }

    }

}