@import 'base/reset';
@import 'utils/variables';
@import 'layout/header';
@import 'layout/sidebar';
@import 'layout/footer';
@import 'layout/login';
@import 'layout/dashboard';


body{
    font-family: 'Ubuntu', sans-serif;
    background: url("../image/purple-bg.jpg") no-repeat center center fixed;
    color: $black;
    height: 100vh;

    
 
}

   .main-content{
    display: grid;
    place-content: center;
    height: 90vh;
    margin-left: 15%;
    padding: 3rem;
    z-index: -10;
   }
        




        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }


  

    
    



