@import 'base/reset';
@import 'utils/variables';
@import 'layout/layout';
@import 'layout/button-dashboard';
@import 'layout/header';
@import 'layout/sidebar';
@import 'layout/footer';
@import 'layout/login';
@import 'layout/dashboard';


body{
    font-family: 'Ubuntu', sans-serif;
    background: url("../image/purple-bg.jpg") no-repeat center center fixed; 
    color: $black;
    min-height: 100vh;



}

    
 


        



  

    
    



