@import 'base/reset';
@import 'utils/variables';
@import 'layout/header';
@import 'layout/sidebar';
@import 'layout/footer';
@import 'layout/login';
@import 'layout/dashboard';


body{
    font-family: 'Ubuntu', sans-serif;
    background: url("../image/purple-bg.jpg") no-repeat center center fixed; 
    color: $black;
    min-height: 100vh;

    
    
.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 4rem;
    margin-left: 16%;

  
    gap: 1rem;
    

    a {
        background-color: $alabaster;
        color: $purple;
        width: 52px;
        height: 52px;
        border-radius: 10px;
    
        &:hover{
            background-color: $purple;
            color: $selective-yellow;
        }
        

    .button-dashboard{
        display: flex;
        flex-direction: column;
        margin-left: 15%;
        align-items: center;
        
        
    }

    .tooltip {
            position: relative;
            display: inline-block;
            padding: 1rem;
            
          
            .tooltiptext {
              visibility: hidden;
              width: 140px;
              background-color: $grey;
              color: $vista-white;
              text-align: center;
              border-radius: 6px;
              padding: 5px 8px;
              position: absolute;
              z-index: 1;
              bottom: 125%;
              left: 50%;
              margin-left: -70px;
              opacity: 0;
              transition: opacity 0.3s;
              font-size: 0.75rem;
          
              &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: $grey transparent transparent transparent;
              }
            }
          
            &:hover .tooltiptext {
              visibility: visible;
              opacity: 1;
            }

            .button-logo{
                font-size: 1rem;
            }
          }
          
        }

}

    
 
}

   .main-content{
    display: grid;
    place-content: center;
    gap: 1rem;
    width: 80%;
    margin-left: 15%;
    padding: 3rem;
    z-index: -10;
    

    
   }
        



  

    
    



