.card-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;



.mini-card-set{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

    .mini-card{
        background-color: $alabaster;
        color: $purple;
        padding: 1rem 2rem 1rem 2rem;
        border-radius: 10px;
        box-shadow: 2px 2px 2px  $bone;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;


        i{
            font-size: 2rem;
        }

        h3{
            color: $ink;
            font-size: 0.8rem;
            font-weight: 400;
        }   

        p{
           
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}


.card-set{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    

   .graph-card{
    background-color: $alabaster;
    width: 50%;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 2px  $bone;
    
}

}

}