


.card-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;


.mini-card-set{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;

    .mini-card{
        background-color: $alabaster;
        color: $purple;
        padding: 1rem 2rem 1rem 2rem;
        border-radius: 10px;
        box-shadow: 2px 2px 2px  $bone;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;


        i{
            font-size: 2rem;
        }

        h3{
            color: $ink;
            font-size: 0.8rem;
            font-weight: 400;
        }   

        p{
           
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}


.card-set{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    
    

   .graph-card{
    background-color: $alabaster;
    width: 600px;
    max-height: 300px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 2px  $bone;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

}

.list-card-set{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;

    .list-card{
        background-color: $alabaster;
        width: 50%;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 2px 2px 2px  $bone;

        .title-ink{
            color: $ink;
        }

        .title-purple{
            color: $purple;
        }

        table {
            width: 100%;
            table-layout: auto;


            th, td{
                 padding: 0.5rem;
                 text-align: left;
                 font-size: 0.8rem;
                 white-space: nowrap;
                 overflow: hidden;
                 text-overflow: ellipsis;
                 max-width: fit-content; /* Adjust as needed */
                     
            
            }

         


        }
        

       
    }


}


}