.mini-card-set{
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .mini-card{
        background-color: $alabaster;
        color: $purple;
        padding: 1.3rem 2.3rem 1.3rem 2.3rem;
        border-radius: 10px;
        box-shadow: 2px 2px 2px  $bone;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;


        i{
            font-size: 2rem;
        }

        h3{
            color: $ink;
            font-size: 0.8rem;
            font-weight: 400;
        }   

        p{
           
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}