

.login-container{
    display: grid;
    place-content: center;
    height: 100vh;
    
    .container{

        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        background-color: $alabaster;
        border-radius: 1rem;
        padding: 2rem;

        .logo{
            width: 10rem;
        }

        h2{
            color: $ink;
            font-size: 2rem;
        }

        .error{
            color: $red;
        }

        .form-login{
            display:flex;
            flex-direction: column;
            gap: 1rem;
            padding-top: 10px;

            input {
                font-family: Consolas, sans-serif;
                border: 1px solid $bone;
                border-radius: 3px;
            }

            button {
                background-color: $purple;
                color: $white;
                border: none;
                border-radius: 3px;
                padding: 0.5rem 1rem;
                font-size: 1rem;
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover{
                    background-color: $selective-yellow;
                    color: $black;
                }
            }
            
        }
    }
    
}