.button-menu{
    display: flex;
    flex-direction: row;
    gap: 1rem;

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        text-decoration: none;
        color: $purple;
        background-color: $alabaster;
        padding: 0.5rem 1rem;
        
    box-shadow: 2px 2px 2px  $bone;

        &:hover {
            color: $selective-yellow;
            
        }
    }

}